@font-face {
    font-family: poppins-regular;
    src: url(../fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: poppins-medium;
    src: url(../fonts/Poppins-Medium.ttf) format('truetype');
}

@font-face {
    font-family: poppins-semibold;
    src: url(../fonts/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: poppins-bold;
    src: url(../fonts/Poppins-Bold.ttf) format('truetype');
}

@font-face {
    font-family: poppins-light;
    src: url(../fonts/Poppins-Light.ttf) format('truetype');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box-generator{
    zoom: 1.3;
    width: 450px;
    height: 620px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 3px 1px 40px #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
}

.box-generator h1{
    font-family: poppins-regular;
    color: #707070;
    font-size: 24px;
    margin-bottom: 15px;
}

#input_password{
    position: relative;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #E5E5E5;
    margin-bottom: 15px;
    font-size: 20px;
    padding-left: 20px;
    font-weight: 500;
    color: #707070;
    z-index: 2;
    padding-right: 100px;
}

.box-generator h3{
    font-size: 11px;
    font-family: poppins-regular;
    color: #707070;
    margin-bottom:8px;
}

.password-lenght{
    width: 100%;
    height: 60px;
    box-shadow: 3px 1px 40px #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.password-lenght #range-selector{
    width: 225px;
    height: 100%;
    position: relative;
    padding: 0px 20px
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  outline: 0;
}


.password-lenght #range-selector::-webkit-slider-thumb{
    margin-top: -8px;
}

/*La linea*/

.password-lenght #range-selector::-webkit-slider-runnable-track{
    margin-top: -13px;
    height: 1px;
    background-color: #ccc;
}

.password-lenght #range-selector::-webkit-slider-thumb{
    width: 16px;
    height: 16px;
    background-color: #848484;
    border-radius: 50%;
}

.box-range{
    display: inline-block;
    line-height: 40px;
    padding: 0 10px;
}

.box-range span{
    font-family: poppins-medium;
    font-size: 15px;
    color: #707070;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

.password-lenght #number-selector{
    width: 74px;
    float: right;
    height: 100%;
    border-radius: 10px;
    background-color: #E5E5E5;
    outline: none;
    border: none;
    text-align: center;
    font-family: poppins-semibold;
    font-size: 20px;
    color: #707070;
    margin-top: 2px;
}

.settings-box{
    margin-bottom: 15px;
}

.setting-option{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 3px 1px 40px rgba(204, 204, 204, 0.596);
    padding: 15px;
    margin-bottom: 6px;
    position: relative;
}

.setting-option p{
    font-size: 13px;
    font-family: poppins-medium;
    color: #707070;
}

.switch-button{
    float: right;
}

.switch-button input{
    display: none;
}

.button-label{
    width: 60px;
    height: 30px;
    position: absolute;
    background-color: #565656;
    top: 10px;
    right: 10px;
    border-radius: 40px;
    cursor: pointer;
}

.button-label::before{
    transition: 0.2s;
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    left: 3.5px;
    top: 2.5px;
    border-radius: 50%;
}

.switch-button input:checked + .button-label{
    background-color: #1769AA;
}

.switch-button input:checked + .button-label::before{
    transform: translateX(29px);
}

#button_generate{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: #1769AA;
    outline: none;
    border: none;
    color: #fff;
    font-family: poppins-semibold;
    font-size: 21px;
    cursor: pointer;
}

/* Animaciones */

.shake{
    animation-name: shake;
    animation-duration: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes shake {
    from{
        background-color: #E5E5E5;
        color: #fff;
    }
    to{
        background-color: rgb(167, 227, 255);
        color: #707070;
        font-family: poppins-regular;
        font-size: 15px;
    }
}

.box-input{
    position: relative;
}

#copy-password{
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(70, 181, 255);
    cursor: pointer;
    display: none;
    z-index: 2;
    
}
